node_modules
npm-debug.log

**/.DS_Store

app/*.js.map
app/*.js

app/weather-widget/component/*.js.map
app/weather-widget/component/*.js

app/weather-widget/service/*.js.map
app/weather-widget/service/*.js