.card {
    box-shadow: 2px 2px 5px 0 #000000;
    word-wrap: normal;
}

.card,
.card-header,
.card-footer {
    border: none;
    border-radius: 0;
    background-color: #00bcd4;
    color: #ffffff;
}

.card-header,
.card-footer {
    padding: 1rem .5rem
}

.card-body {
    padding: 2rem;
}

.card-body,
.card-footer {
    text-align: center;
}

p {
    margin: .2rem;
    text-transform: uppercase;
}