<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-6">
                <p>Newark, NJ</p>
            </div>
            <div class="col-6 text-right">
                <h1>78&deg;</h1>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h1>0</h1>
        <p>Sunny</p>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-5">
                <p>Wind</p>
                <p>13mph</p>
            </div>
            <div class="col-5 offset-2">
                <p>Humidity</p>
                <p>80%</p>
            </div>
        </div>
    </div>
</div>